@import url('https://fonts.googleapis.com/css2? family= Mukta:wght@300 & family= Oleo+Script+Swash+Caps & display=swap');
body{
    background-color: aquamarine;
    text-align: center;
font-family:"hind siliguri", sans-serif;
}
header{
width: 100% ;
height: 80vh ;
}
